<form [formGroup]="searchForm" (ngSubmit)="submitPoll()">

  <!-- ANSWER SCORES -->
  <div *ngIf="abstractModel.answer">
    <div class="form-group">
      <label class="form-text text-muted">{{ 'home.answerScoreLogical' | translate }}</label>
      <div class="range-group">
        <input #answerScoreLogical formControlName="answerScoreLogical" type="range" [min]="minRange" [max]="maxRange" class="form-control-range">
        <h5><span class="badge range-badge">{{ answerScoreLogical.value }}</span></h5>
      </div>
      <small class="form-text text-muted">{{ 'home.answerScoreLogicalHint' | translate }}</small>
    </div>

    <div class="form-group">
      <label class="form-text text-muted">{{ 'home.answerScoreGrammatical' | translate }}</label>
      <div class="range-group">
        <input #answerScoreGrammatical formControlName="answerScoreGrammatical" type="range" [min]="minRange" [max]="maxRange" class="form-control-range">
        <h5><span class="badge range-badge">{{ answerScoreGrammatical.value }}</span></h5>
      </div>
    </div>
  </div>

  <!-- SUMMARY SCORES -->
  <div *ngIf="abstractModel.summary">
    <div class="form-group">
      <label class="form-text text-muted">{{ 'home.summaryScoreLogical' | translate }}</label>
      <div class="range-group">
        <input #summaryScoreLogical formControlName="summaryScoreLogical" type="range" [min]="minRange" [max]="maxRange" class="form-control-range">
        <h5><span class="badge range-badge">{{ summaryScoreLogical.value }}</span></h5>
      </div>
      <small class="form-text text-muted">{{ 'home.summaryScoreLogicalHint' | translate }}</small>
    </div>

    <div class="form-group">
      <label class="form-text text-muted">{{ 'home.summaryScoreGrammatical' | translate }}</label>
      <div class="range-group">
        <input #summaryScoreGrammatical formControlName="summaryScoreGrammatical" type="range" [min]="minRange" [max]="maxRange" class="form-control-range">
        <h5><span class="badge range-badge">{{ summaryScoreGrammatical.value }}</span></h5>
      </div>
    </div>
  </div>

  <!-- TIME SCORE -->
  <div class="form-group">
    <label class="form-text text-muted">{{ 'home.timeScore' | translate }}</label>
    <div class="range-group">
      <input #timeScore formControlName="timeScore" type="range" [min]="minRange" [max]="maxRange" class="form-control-range">
      <h5><span class="badge range-badge">{{ timeScore.value }}</span></h5>
    </div>
    <small class="form-text text-muted">{{ 'home.timeScoreHint' | translate }}</small>
  </div>

  <!-- COMMENT -->
  <div class="form-group">
    <label class="form-text text-muted">{{ 'home.comment' | translate }}</label>
    <textarea class="form-control" formControlName="comment" class="form-control"></textarea>
  </div>

  <!-- BUTTONS -->
  <div class="spinner-group">
    <app-spinner *ngIf="pollLoading"></app-spinner>
    <button *ngIf="!pollLoading" type="submit" class="btn btn-outline-primary btn-block">
      {{ 'common.confirm' | translate }}
    </button>
  </div>

</form>
