.range-group {
  display: flex;

  align-items: center;

  h5 {
    margin: 0px;
  }
}

.spinner-group {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  button {
    align-self: flex-end;
  }
}
