<form [formGroup]="searchForm" (ngSubmit)="generateAbstract()">

  <div class="form-group">
    <label class="form-text text-muted">{{ 'home.authorizationKey' | translate }}</label>
    <input type="password" formControlName="key" class="form-control">
  </div>

  <div class="form-group">
    <label class="form-text text-muted">{{ 'home.searchPhrase' | translate }}</label>
    <input type="text" formControlName="phrase" class="form-control">
    <small class="form-text text-muted">{{ 'home.searchPhraseHint' | translate }}</small>
  </div>

  <div class="form-group">
    <label class="form-text text-muted">{{ 'home.numberOfPages' | translate }}</label>
    <div class="range-group">
      <input #pageNumber formControlName="pageNumber" type="range" [min]="minRange" [max]="maxRange" class="form-control-range">
      <h5><span class="badge range-badge">{{ pageNumber.value }}</span></h5>
    </div>
    <small class="form-text text-muted">{{ 'home.numberOfPagesHint' | translate }}</small>
  </div>

  <div class="form-group mt-4">
    <mat-slide-toggle [(ngModel)]="isAdvancedChecked" [ngModelOptions]="{standalone: true}" [disabled]="searchLoading">
      <label class="form-text text-muted m-2">{{ 'home.advanced' | translate }}</label>
    </mat-slide-toggle>
  </div>

  <div *ngIf="isAdvancedChecked" class="row">
    <div class="form-group col-md-6">
      <label class="form-text text-muted">{{ 'home.answerModel' | translate }}</label>
      <select class="form-control" formControlName="answerModel">
        <option [value]="answerModelEnum[0].value">{{ answerModelEnum[0].name }}</option>
        <option [value]="answerModelEnum[1].value">{{ answerModelEnum[1].name }}</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label class="form-text text-muted">{{ 'home.summaryModel' | translate }}</label>
      <select class="form-control" formControlName="summaryModel">
        <option [value]="summaryModelEnum[0].value">{{ summaryModelEnum[0].name }}</option>
        <option [value]="summaryModelEnum[1].value">{{ summaryModelEnum[1].name }}</option>
      </select>
    </div>
  </div>

  <div class="spinner-group">
    <app-spinner *ngIf="searchLoading"></app-spinner>
    <button *ngIf="!searchLoading" type="submit" class="btn btn-outline-primary btn-block">
      {{ 'common.confirm' | translate }}
    </button>
  </div>

</form>
